.liveDemo{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin: 0.5rem 0;
    }

    p{
        margin-bottom: 2rem;
        text-align: center;
    }

    .chatBotDemo{
        width: 75vw;
        height: 70vh;
    }
}