@use 'src/app/styles/constants';

.logoButton {
	display: flex;
	align-items: center;

	img {
		margin-right: 0.5rem;
	}

	div {
		margin: 0 1rem;
	}
}

.largeNavBar {
	display: flex;
	height: 56px;
	justify-content: space-between;
	align-items: flex-end;
	color: constants.$headingColor;


	a {
		margin: 0 1.5rem;
	}
}

.smallNavBar{
	display: flex;
	height: 56px;
	justify-content: space-between;
	align-items: flex-end;
	color: constants.$headingColor;
	padding: 0 1.5rem;


	button{
		padding: 0;
		border: none;
		background: none;
	}
}

@media (max-width: 1024px) {
	.largeNavBar{
		display: none;
	}
}

@media (min-width:1025px) {
	.smallNavBar{
		display: none;
	}
}
